<template>
    <div class="container-about">
        <div class="row">
            <div class="col offset-1">
                <h1>About me</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9 col-lg-3 offset-sm-1 offset-md-1">
                <div class="list-experience">
                    <h2>Education</h2>

                    <ul class="list-experience">
                        <li>
                            <p> 2010 – 2014 Ternopil National Pedagogical University (Computer technology)</p>
                        </li>
                        <li>
                            <p> 2014 – 2015 Ternopil National Pedagogical University (Master's of computer technology)</p>
                        </li>
                        <li>
                            <a href="http://crowdin.space/"  target="_blank">Crowdin Space</a> - 3 months;
                            <p>This is the beginner programmer's curse</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-lg-3 offset-sm-1 offset-md-1">
                <div class="list-education">
                    <h2>Experience</h2>

                    <ul>
                        <li>
                            <h3>Freelance ~ 3 months</h3>
                            <p>I have been creating layouts for site</p>
                            <p>and fixing some project on wordpress</p>
                        </li>
                        <li>
                            <h3>~ 1 year 5 months as Technical engineer in <a href="http://data2crm.com" target="_blank">data2crm</a>.</h3>
                            <p>I have been writing some customization for data migration.</p>
                            <p>I have been working with databases such as MySql, MSsql, MongoDB, Postgresql.</p>
                            <p>I have been using API such CRM as Salesforce, MS Dynamics, ZohoCRM, HubSpot, Insightly, Infusionsoft and many others.</p>
                            <p>And also i have been mentoring.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-lg-3 offset-sm-1 offset-md-1">
                <div class="list-preference">
                    <h2>My preference</h2>

                    <ul>
                        <li>
                            <p>I want to improve my skills constantly.</p>
                        </li>
                        <li>
                            <p>I'm always ready to learn something new to become most abusive in web developing.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

</script>

<style lang="scss">
    .container-about {
        padding-right: 10px;
        color: #f9fff3;;

        div {
            margin-left: 3%;
        }

        h1 {
            margin: 30px 0 10px 0;
        }

        a {
            text-decoration: none;
            color: #498bff;
        }

        ul, ol {
            list-style: none;
        }

        li {
            background: #1f1f1f;
            margin: 0 0 30px 0;
            padding: 13px 20px;
            border-radius: 5px 0 5px 0;
            border-top: solid 3px #9c9c9c;
            font-family: Constantia, serif;
            opacity: 0.9;

            h3 {
                text-align: center;
                margin-bottom: 10px;
            }
        }

        li:hover {
            background-color: #282d33;
        }
    }
</style>