<template>
    <div class="container-contact">
        <h1>Contact me</h1>

        <table>
            <tr>
                <td>
                    <ion-icon name="logo-facebook"></ion-icon>
                </td>
                <td>
                    <a href="https://www.facebook.com/oleg.kylb.5" target="_blank">Facebook</a>
                </td>
            </tr>
            <tr>
                <td>
                    <ion-icon name="logo-google"></ion-icon>
                </td>
                <td>
                    exberser@gmail.com
                </td>
            </tr>
            <tr>
                <td>
                    <ion-icon name="logo-whatsapp"></ion-icon>
                </td>
                <td>
                    097 54 54 731
                </td>
            </tr>
            <tr>
                <td>
                    <ion-icon name="logo-linkedin"></ion-icon>
                </td>
                <td>
                    <a href="https://www.linkedin.com/in/oleg-kylb-ba479913a/">LinkedIn</a>
                </td>
            </tr>
        </table>

        <!--<div id="form-div">-->
            <!--<form class="form" id="form1">-->

                <!--<p class="name">-->
                    <!--<input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Name" id="name" />-->
                <!--</p>-->

                <!--<p class="email">-->
                    <!--<input name="email" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email" />-->
                <!--</p>-->

                <!--<p class="text">-->
                    <!--<textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Comment"></textarea>-->
                <!--</p>-->


                <!--<div class="submit">-->
                    <!--<input type="submit" value="SEND" id="button-blue" onclick="return false;"/>-->
                    <!--<div class="ease"></div>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    </div>
</template>

<script>
    export default {
        name: "Contact"
    }
</script>

<style lang="scss">
    @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

    .container-contact {
        top: 30px;
        left: 150px;
        position: absolute;
        z-index: 4;
        color: #f9fff3;

        h1 {
            margin-left: 100px;
        }

        table {
            margin-top: 130px;

            ion-icon {
                margin-top: 5px;
                font-size: 60px;
                color: #b8b8b8;
            }

            td {
                padding-right: 50px;
            }

            a {
                text-decoration: none;
                color: #498bff;
            }
        }

    }

    #feedback-page{
        text-align:center;
    }

    #text-feedback{
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        background-color:white;
        text-align:center;
    }

    #form-main{
        width:100%;
        float:left;
        padding-top:30px;
    }

    #form-div {
        background-color:#3c3c3c;
        padding: 10px;
        opacity: 0.8;
        width: 450px;
        left: 800px;
        top: 160px;
        position: absolute;
        margin-left: -260px;
    }

    .feedback-input {
        opacity:0.9;
        color:#498bff;
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        font-weight:400;
        font-size: 18px;
        border-radius: 0;
        line-height: 22px;
        background-color: #fbfbfb;
        border: 3px solid #fbfbfb;
        padding: 13px 13px 13px 54px;
        margin-bottom: 10px;
        width:100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }

    .feedback-input:focus{
        background: #fff;
        box-shadow: 0;
        border: 3px solid #3498db;
        color: #3498db;
        outline: none;
        padding: 13px 13px 13px 54px;
    }

    .focused{
        color:#30aed6;
        border:#30aed6 solid 3px;
    }

    /* Icons ---------------------------------- */
    #name{
        background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
        background-size: 30px 30px;
        background-position: 11px 8px;
        background-repeat: no-repeat;
    }

    #name:focus{
        background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
        background-size: 30px 30px;
        background-position: 8px 5px;
        background-position: 11px 8px;
        background-repeat: no-repeat;
    }

    #email{
        background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
        background-size: 30px 30px;
        background-position: 11px 8px;
        background-repeat: no-repeat;
    }

    #email:focus{
        background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
        background-size: 30px 30px;
        background-position: 11px 8px;
        background-repeat: no-repeat;
    }

    #comment{
        background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
        background-size: 30px 30px;
        background-position: 11px 8px;
        background-repeat: no-repeat;
    }

    textarea {
        width: 100%;
        height: 150px;
        line-height: 150%;
    }

    input:hover, textarea:hover,
    input:focus, textarea:focus {
        background-color:white;
    }

    #button-blue{
        font-family: 'Montserrat', Helvetica, Arial,  sans-serif;
        float:left;
        width: 100%;
        border: #fbfbfb solid 4px;
        cursor:pointer;
        background-color: #3498db;
        color:white;
        font-size:24px;
        padding-top:22px;
        padding-bottom:22px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    #button-blue:hover{
        background-color: rgba(0,0,0,0);
        color: #0493bd;
    }

    .submit:hover {
        color: #3498db;
    }

    .ease {
        border-top:3px #3c3c3c solid;
        width: 0px;
        height: 76px;
        background-color: #fbfbfb;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -o-transition: .3s ease;
        -ms-transition: .3s ease;
        transition: .3s ease;
    }

    .submit:hover .ease{
        width:100%;
        background-color:white;
    }

    @media only screen and (max-width: 580px) {
        #form-div{
            left: 3%;
            margin-right: 3%;
            width: 88%;
            margin-left: 0;
            padding-left: 3%;
            padding-right: 3%;
        }
    }
</style>