<template>
    <div class="container container-home">
        <div class="row">
            <div class="col-4 offset-md-4">
                <img class="locked" src=".././assets/foto.png">
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-4 col-xl-4 offset-md-2">
                <h1>Hi, <br> i`m Oleh, <br> web programmer</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-3 col-5 col-lg-4 col-xl-3 offset-md-3">
                <h4>back-end developer</h4>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "container-home"
    }
</script>

<style lang="scss">
    .container-home {
        margin-top: 5%;

        h1 {
            min-width: 350px;
            font-family: 'sans-serif';
            color: #f9fff3;
            position: relative;
        }

        h4 {
            font-family: 'Impact', cursive;
            font-style: italic;
            color: #687263;
            float: right;
            position: relative;
        }

        img {
            position: relative;
            opacity: 0.8;
            height: 400px;
            width: 400px;
        }
    }
</style>