<template>
    <div class="container container-skill">
        <div class="row">
            <div class="col offset-md-1">
                <h1>Skills</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-7 col-sm-7 col-md-5 offset-sm-1">
                <table class="skills">
                    <tr>
                        <th>Skill</th>
                        <th>Level</th>
                    </tr>
                    <tr v-for="skill in skills">
                        <td>{{skill.name}}</td>
                        <td>
                            <loading-progress
                                    :progress="'0.' + skill.lvl"
                                    :indeterminate="indeterminate"
                                    :counter-clockwise="counterClockwise"
                                    :hide-background="hideBackground"
                                    shape="line"
                                    size="200"
                                    width="200"
                                    height="6"
                            />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col">
                <table class="lang">
                    <tr>
                        <th>Langueges</th>
                        <th>Level</th>
                    </tr>
                    <tr v-for="lang in langueges">
                        <td>{{lang.name}}</td>
                        <td>
                            <loading-progress
                                    :progress="'0.' + lang.lvl"
                                    :indeterminate="indeterminate"
                                    :counter-clockwise="counterClockwise"
                                    :hide-background="hideBackground"
                                    shape="line"
                                    size="200"
                                    width="200"
                                    height="6"
                            />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                skills: [
                    {name: 'PHP', lvl: 70},
                    {name: 'HTML', lvl: 60},
                    {name: 'CSS', lvl: 50},
                    {name: 'LARAVEL', lvl: 60},
                    {name: 'JAVA SCRIPT', lvl: 60},
                    {name: 'JQUERY', lvl: 40},
                    {name: 'VUE', lvl: 50},
                    {name: 'MYSQL', lvl: 60},
                    {name: 'MONGO DB', lvl: 30},
                    {name: 'NODE', lvl: 20},
                    {name: 'VAGRANT', lvl: 20},
                    {name: 'CRM', lvl: 70},
                    {name: 'JIRA', lvl: 50},
                    {name: 'POSTMAN', lvl: 60},
                    {name: 'GIT', lvl: 70},
                    {name: 'BOOTSTRAP', lvl: 40},
                    {name: 'JAVA', lvl: 20}
                ],
                langueges: [
                    {name: 'UKRAINIAN', lvl: 95},
                    {name: 'RUSSIAN', lvl: 70},
                    {name: 'ENGLISH', lvl: 45}
                ]
            }
        }
    }
</script>

<style lang="scss">
    .container-skill {
        margin-top: 3%;
        z-index: 3;
        color: #fff;

        h1 {
            margin-bottom: 10px;
        }

        table {
            font-family: 'Avenir', Helvetica, Arial, sans-serif;
            margin-top: 30px;

            tr {
                text-align: center;
            }

            th {
                background: #222222;
            }

            td {
                text-align: left;
                height: 30px;
                padding-left: 50px;

                .vue-progress-path .progress {
                    stroke: #498bff;
                }
            }
        }
    }
</style>