<template>
    <div id="app">
        <div id="nav-bar">
            <a href="/">
                <p class="beta-logo"><|></p>
            </a>

            <nav>
                <div @mouseover="viewIcon.home = false" @mouseleave="viewIcon.home = true">
                    <router-link to="/">
                        <transition name="fade" mode="out-in">
                            <ion-icon name="home" v-if="viewIcon.home" ></ion-icon>
                            <div v-else>HOME</div>
                        </transition>
                    </router-link>
                </div>

                <div @mouseover="viewIcon.skill = false" @mouseleave="viewIcon.skill = true">
                    <router-link to="/skill">
                        <transition name="fade" mode="out-in">
                            <ion-icon name="school" v-if="viewIcon.skill"></ion-icon>
                            <div v-else>SKILL</div>
                        </transition>
                    </router-link>
                </div>

                <div @mouseover="viewIcon.about = false" @mouseleave="viewIcon.about = true">
                    <router-link to="/about">
                        <transition name="fade" mode="out-in">
                            <ion-icon name="person" v-if="viewIcon.about"></ion-icon>
                            <div v-else>ABOUT</div>
                        </transition>
                    </router-link>
                </div>

                <div @mouseover="viewIcon.contact = false" @mouseleave="viewIcon.contact = true">
                    <router-link to="/contact">
                        <transition name="fade" mode="out-in">
                            <ion-icon name="paper-plane" v-if="viewIcon.contact"></ion-icon>
                            <div v-else>CONTACT</div>
                        </transition>
                    </router-link>
                </div>
            </nav>
        </div>

        <transition name="slide-fade" mode="out-in">
            <router-view></router-view>
        </transition>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                viewIcon: {
                    home: true,
                    skill: true,
                    about: true,
                    contact: true
                }
            }
        }
    }
</script>

<style lang="scss">
    * {
        margin: 0;
        padding: 0;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently */
    }

    .beta-logo {
        font-size: 30px;
        color: rgba(255, 255, 255, 0);
        text-shadow:
                0 0 2px #498bff,
                0 0 15px #498bff,
                0 0 20px #498bff,
                0 0 40px #498bff;
    }

    .slide-fade-enter-active {
        transition: all .3s ease;
    }

    .slide-fade-leave-active {
        transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }

    .slide-fade-enter, .slide-fade-leave-to {
        transform: translateX(10px);
        opacity: 0;
    }

    body {
        background: #2e2e2e;
    }

    p {
        margin: 5px 0 10px 0;
    }

    .locked {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        pointer-events: none;
    }

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;

        #nav-bar {
            background: #181818;
            width: 60px;
            height: 100%;
            position: fixed;
            top: 0;
            z-index: 3;
            min-height: 500px;

            nav {
                display: block;
                text-align: center;
                position: absolute;
                top: 30%;
                width: 100%;
                font-size: 13px;

                .fade-enter-active, .fade-leave-active {
                    transition: opacity .4s;
                }
                .fade-enter, .fade-leave-to {
                    opacity: 0;
                }
            }

            a {
                height: 50px;
                display: block;
                text-align: center;
                text-decoration: none;

                div {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:hover ion-icon, div {
                    color: #498bff;
                }

                &:visited {
                    color: #5B5B5B;
                }
            }

            .router-link-exact-active ion-icon, .router-link-exact-active div{
                color: #498bff;
            }

            ion-icon {
                margin-top: 5px;
                font-size: 40px;
                color: #5B5B5B;
            }
        }
    }
</style>
